.nav_00 {
    position: fixed;
    top: 2px;
    min-width: 270px;
    left: 10px;
    border-radius: 3px;
    font: 25px futura;
    padding: 10px;
  }

  .nav_01 {
    position: absolute;
    top: 5px;
    min-width: 270px;
    left: 1000px;
    border-radius: 3px;
    font: 15px serif;
    padding: 10px;
  }

  #d3_canvas {
    position: absolute;
    top: 20px;
    min-width: 270px;
    left: 10px;
    border-radius: 3px;
    font: 15px;
    font-family: Roboto;
    padding: 10px;
    opacity: 0.5;
  }



  .hqgePM {
    height: 50px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.97) 0px 11px 40px -11px inset;
    z-index: 2;
    background: rgb(4, 4, 58);
    transition: all 2000ms ease 0s;
}

.canvasclass   { 
position: absolute;
top: 20px;
min-width: 270px;
left: 10px;
border-radius: 3px;
font: 15px;
font-family: Roboto;
padding: 10px;
opacity: 0.5;}
